
body {
    background-color: #010402; 
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00bf63;
    padding: 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.login-box {
    width: 300px;
    padding: 16px;
    background-color: #f1f1f1;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.login-box h2 {
    text-align: center;
    color: #333;
}
.login-box button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.login-box button:hover {
    opacity: 0.8;
}

/* home html styles  */

/* search bar */
.search-container {
    margin-top: 50px;
    width: 100%;
    max-width: 600px;
    /* margin: auto; */
    margin-left:30%;
}

.search-container form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.search-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.search-container button {
    padding: 10px;
    background-color: #4CAF50 ;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.search-container button:hover {
    background-color: darkgreen ;
}
/* filter  */
#genreFilter {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
}
button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-left:30%;
}
#genreFilter {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    font-size: 16px;
}
/* media container */
.media-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 50px;
    /* margin: auto; */
    border-style: dotted;
    border: #ccc;
    background-color: white;
    width: 100%;
    height: 100vh;
}
